#main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#canvasAndImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#topContainer{
    margin-top: 10px;
}
button{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
}
button:hover{
    background-color: lightgray;
}
#drawLabel, #colorLabel, #modeLabel, #sizeLabel, #triangleMODLabel, #circleMODLabel{
    font-weight: bold;
}
#red{
    color: red;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#rotateContainer {
    display: none;
}
#segmentsContainer {
    display: none;
}
